html, body {
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
}
canvas {
  display: block;
}

.page-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.mdl-textfield {
  width: 100px;
}

#cardCanvas {
  display: flex;
  flex: 1;
  justify-content: center;
}

#cardControls {
  flex: 3;
  margin: 0 20px 20px 20px;
}

#cardControls .mdl-tabs__tab-bar {
  justify-content: start;
}

#mobile-card-controls {
  display: flex;
  flex: 1;
}

.control-slider {
  max-width: 300px;
}
